:root {
	--main-background-color: #f6f6f6;
	--secondary-background-color: #131414;
	--main-gradient-background-color: linear-gradient(
		-120deg,
		rgba(246, 250, 243, 1) 0%,
		rgba(248, 246, 251, 1) 54%,
		rgba(230, 244, 251, 1) 100%
	);
	--main-light-background-color: #f9f8f3;
	--secondary-light-background-color: #f4f5f9;
	--green-color: #5be974;
	--light-green-color: #9aeaa9;
	--dark-green-color: #47a458;
	--light-grey-color: #9e9e9e;
	--grey-color: #5c615d;
	--light-orange-color: #ffeee2;
	--light-blue-color: #e6f5fa;

	--main-text-color: #131414;
	--secondary-text-color: #918e8d;
	--white-text-color: #f6f6f6;
	--red-text-color: #db3529;

	--main-box-shadow: 2px 2px 8px var(--light-grey-color);
	--secondary-box-shadow: 1px 0px 4px var(--light-grey-color);

	--biggestFontSize: 2.5rem;
	--h1FontSize: 1.5rem;
	--h2FontSize: 1.25rem;
	--h3FontSize: 1rem;
	--normalFontSize: 0.938rem;
	--smallFontSize: 0.813rem;
	--smallestFontSize: 0.75rem;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: 0.3s ease;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

a {
	text-decoration: none;
	color: unset;
}

ul {
	list-style-type: none;
}

li {
	list-style: none;
}

.flex {
	display: flex;
	align-items: center;
}

.grid {
	display: grid;
	align-items: center;
	padding: 0;
}
